/* Responsive */

@media (max-width: 481px) {
  body {
    /* Alinhamento e afins */
    overflow-x: hidden;
  }

  /* Navbar */

  #navbarNav {
    /* Alinhamento e afins */
    text-align: center;
  }

  /* Home */

  #top-container {
    /* Alinhamento e afins */
    padding: 20px;
    width: 80%;
    margin: 75px auto 30px auto;
  }

  #job {
    /* Alinhamento e afins */
    width: 90%;
  }

  #main-title {
    /* Estilização */
    font-size: 2.2rem;
  }

  #main-subtitle {
    /* Estilização */
    font-size: 1.3rem;
  }

  #jobs-container {
    /* Alinhamento e afins */
    padding: 20px;
  }

  #job-list-title {
    /* Alinhamento e afins */
    margin-top: -18px;
  }

  #job-list .list-group-item {
    /* Alinhamento e afins */
    height: auto;
    padding: 20px;
    text-align: center;
  }

  #job-list .list-group-item a {
    /* Alinhamento e afins */
    position: static;
    display: block;
    margin: 20px auto 0 auto;
  }

  .list-group-item h2 {
    /* Alinhamento e afins */
    text-align: center;
    /* Estilização */
    font-size: 1.2rem;
  }

  .list-group-item img {
    /* Alinhamento e afins */
    position: static;
    display: block;
    width: 50px;
    margin: 0 auto 10px auto;
  }

  .new-job .new-job-label {
    /* Alinhamento e afins */
    display: none;
  }

  /* Job-view */

  .back-link {
    /* Alinhamento e afins */
    margin-left: 30px;
  }

  #job-view-container {
    /* Estilização */
    font-size: 1.3rem;
  }

  .job-desc {
    /* Alinhamento e afins */
    width: 80%;
  }

  /* Add-view */

  #form-box {
    /* Alinhamento e afins */
    padding: 25px;
  }

  #form-box h2 {
    /* Alinhamento e afins */
    text-align: center;
    /* Estilização */
    font-size: 1rem;
  }

  #form-box button {
    /* Alinhamento e afins */
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .new-job .new-job-label {
    /* Alinhamento e afins */
    display: none;
  }
}
